Omega/.vs/Omega/v15/.suo
Omega/.vs/Omega/v15/Browse.VC.db
Omega/.vs/Omega/v15/Browse.VC.opendb
Omega/.vs/Omega/v15/Solution.VC.db
Omega/.vs/Omega/v15/Solution.VC.db-shm
Omega/.vs/Omega/v15/Solution.VC.db-wal
Omega/Binaries/Win64/OmegaEditor.target
Omega/Binaries/Win64/UE4Editor.modules
Omega/Binaries/Win64/UE4Editor-Omega.dll
Omega/Binaries/Win64/UE4Editor-Omega.pdb
Omega/Config/DefaultEditor.ini
Omega/Config/DefaultEditorPerProjectUserSettings.ini
Omega/Config/DefaultEngine.ini
Omega/Config/DefaultGame.ini
Omega/Config/DefaultInput.ini
Omega/Content/Geometry/Meshes/1M_Cube.uasset
Omega/Content/Geometry/Meshes/1M_Cube_Chamfer.uasset
Omega/Content/Geometry/Meshes/CubeMaterial.uasset
Omega/Content/Geometry/Meshes/TemplateFloor.uasset
Omega/Content/Mannequin/Animations/ThirdPerson_AnimBP.uasset
Omega/Content/Mannequin/Animations/ThirdPerson_IdleRun_2D.uasset
Omega/Content/Mannequin/Animations/ThirdPerson_Jump.uasset
Omega/Content/Mannequin/Animations/ThirdPersonIdle.uasset
Omega/Content/Mannequin/Animations/ThirdPersonJump_End.uasset
Omega/Content/Mannequin/Animations/ThirdPersonJump_Loop.uasset
Omega/Content/Mannequin/Animations/ThirdPersonJump_Start.uasset
Omega/Content/Mannequin/Animations/ThirdPersonRun.uasset
Omega/Content/Mannequin/Animations/ThirdPersonWalk.uasset
Omega/Content/Mannequin/Character/Materials/M_UE4Man_Body.uasset
Omega/Content/Mannequin/Character/Materials/M_UE4Man_ChestLogo.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Omega/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Omega/Content/Mannequin/Character/Mesh/SK_Mannequin.uasset
Omega/Content/Mannequin/Character/Mesh/SK_Mannequin_PhysicsAsset.uasset
Omega/Content/Mannequin/Character/Mesh/UE4_Mannequin_Skeleton.uasset
Omega/Content/Mannequin/Character/Textures/UE4_LOGO_CARD.uasset
Omega/Content/Mannequin/Character/Textures/UE4_Mannequin__normals.uasset
Omega/Content/Mannequin/Character/Textures/UE4_Mannequin_MAT_MASKA.uasset
Omega/Content/Mannequin/Character/Textures/UE4Man_Logo_N.uasset
Omega/Content/ThirdPerson/Meshes/Bump_StaticMesh.uasset
Omega/Content/ThirdPerson/Meshes/LeftArm_StaticMesh.uasset
Omega/Content/ThirdPerson/Meshes/Linear_Stair_StaticMesh.uasset
Omega/Content/ThirdPerson/Meshes/Ramp_StaticMesh.uasset
Omega/Content/ThirdPerson/Meshes/RampMaterial.uasset
Omega/Content/ThirdPerson/Meshes/RightArm_StaticMesh.uasset
Omega/Content/ThirdPersonCPP/Blueprints/ThirdPersonCharacter.uasset
Omega/Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap.umap
Omega/Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap_BuiltData.uasset
Omega/Intermediate/CachedAssetRegistry.bin
Omega/Intermediate/TargetInfo.json
Omega/Intermediate/AssetRegistryCache/1f683343.bin
Omega/Intermediate/AssetRegistryCache/2657c409.bin
Omega/Intermediate/AssetRegistryCache/50a675f9.bin
Omega/Intermediate/AssetRegistryCache/52ed2538.bin
Omega/Intermediate/AssetRegistryCache/6bead350.bin
Omega/Intermediate/AssetRegistryCache/866581fd.bin
Omega/Intermediate/AssetRegistryCache/8c0e1344.bin
Omega/Intermediate/AssetRegistryCache/8e9331e2.bin
Omega/Intermediate/AssetRegistryCache/d63b3057.bin
Omega/Intermediate/AssetRegistryCache/f0d5030c.bin
Omega/Intermediate/Build/SourceFileCache.bin
Omega/Intermediate/Build/BuildRules/OmegaModuleRules.dll
Omega/Intermediate/Build/BuildRules/OmegaModuleRules.pdb
Omega/Intermediate/Build/BuildRules/OmegaModuleRulesManifest.json
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Makefile.bin
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Metadata.dat
Omega/Intermediate/Build/Win64/OmegaEditor/Development/OmegaEditor.deps
Omega/Intermediate/Build/Win64/OmegaEditor/Development/OmegaEditor.uhtmanifest
Omega/Intermediate/Build/Win64/OmegaEditor/Development/OmegaEditor.uhtpath
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.cpp
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.obj
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch.response
Omega/Intermediate/Build/Win64/OmegaEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.txt
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Default.rc2.res
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Definitions.Omega.h
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/LiveCodingInfo.json
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Omega.cpp.obj
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Omega.cpp.obj.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Omega.cpp.txt
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Omega.init.gen.cpp.obj
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Omega.init.gen.cpp.obj.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/Omega.init.gen.cpp.txt
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaCharacter.cpp.obj
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaCharacter.cpp.obj.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaCharacter.cpp.txt
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaCharacter.gen.cpp.obj
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaCharacter.gen.cpp.obj.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaCharacter.gen.cpp.txt
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaGameMode.cpp.obj
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaGameMode.cpp.obj.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaGameMode.cpp.txt
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaGameMode.gen.cpp.obj
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaGameMode.gen.cpp.obj.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/OmegaGameMode.gen.cpp.txt
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/UE4Editor-Omega.dll.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/UE4Editor-Omega.exp
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/UE4Editor-Omega.lib
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/UE4Editor-Omega.lib.response
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/UE4Editor-Omega.suppressed.exp
Omega/Intermediate/Build/Win64/UE4Editor/Development/Omega/UE4Editor-Omega.suppressed.lib
Omega/Intermediate/Build/Win64/UE4Editor/Inc/Omega/Omega.init.gen.cpp
Omega/Intermediate/Build/Win64/UE4Editor/Inc/Omega/OmegaCharacter.gen.cpp
Omega/Intermediate/Build/Win64/UE4Editor/Inc/Omega/OmegaCharacter.generated.h
Omega/Intermediate/Build/Win64/UE4Editor/Inc/Omega/OmegaClasses.h
Omega/Intermediate/Build/Win64/UE4Editor/Inc/Omega/OmegaGameMode.gen.cpp
Omega/Intermediate/Build/Win64/UE4Editor/Inc/Omega/OmegaGameMode.generated.h
Omega/Intermediate/Build/Win64/UE4Editor/Inc/Omega/Timestamp
Omega/Intermediate/Build/Win64/Win64/OmegaEditor/ActionHistory.dat
Omega/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Omega/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Omega/Intermediate/ProjectFiles/Omega.vcxproj
Omega/Intermediate/ProjectFiles/Omega.vcxproj.filters
Omega/Intermediate/ProjectFiles/Omega.vcxproj.user
Omega/Intermediate/ProjectFiles/UE4.vcxproj
Omega/Intermediate/ProjectFiles/UE4.vcxproj.filters
Omega/Intermediate/ProjectFiles/UE4.vcxproj.user
Omega/Intermediate/ReimportCache/3688439234.bin
Omega/Saved/Config/CrashReportClient/UE4CC-Windows-519EAA03427AA6E78E20A8AF794158DE/CrashReportClient.ini
Omega/Saved/Config/Windows/Compat.ini
Omega/Saved/Config/Windows/DeviceProfiles.ini
Omega/Saved/Config/Windows/Editor.ini
Omega/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Omega/Saved/Config/Windows/Engine.ini
Omega/Saved/Config/Windows/Game.ini
Omega/Saved/Config/Windows/GameUserSettings.ini
Omega/Saved/Config/Windows/Hardware.ini
Omega/Saved/Config/Windows/Input.ini
Omega/Saved/Config/Windows/Lightmass.ini
Omega/Saved/Config/Windows/MagicLeap.ini
Omega/Saved/Config/Windows/OculusVR.ini
Omega/Saved/Config/Windows/Paper2D.ini
Omega/Saved/Config/Windows/PhysXVehicles.ini
Omega/Saved/Config/Windows/PostSplashScreen.ini
Omega/Saved/Config/Windows/RuntimeOptions.ini
Omega/Saved/Config/Windows/Scalability.ini
Omega/Saved/Config/Windows/VariantManagerContent.ini
Omega/Omega.sln
Omega/Omega.uproject
Omega/Saved/Logs/Omega.log
